# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConsoleLesson5/.vs/ConsoleLesson5/FileContentIndex
/ConsoleLesson5/.vs/ConsoleLesson5/v17
/ConsoleLesson5/ConsoleLesson5/bin/Debug/net8.0
/ConsoleLesson5/ConsoleLesson5/obj/Debug/net8.0
/ConsoleLesson5/ConsoleLesson5/obj
